deploy:
  redis: true
  postgres: true
  cac: true
  remediations: true

remediations:
  # Command to use for db migration. In stable environments this should be "npm run db:create; npm run db:migrate"
  migrationCommand: "npm run db:init && npm run db:migrate && npm run db:seed"

  logLevel: trace

  advisor:
    impl: impl
    host: http://insights-advisor-api.advisor-ci.svc.cluster.local:8000
  contentServer:
    host: http://content-server.advisor-ci.svc.cluster.local:8080
  vulnerabilities:
    impl: mock
    host: " "
  compliance:
    impl: impl
    host: http://compliance-backend.compliance-ci.svc.cluster.local:3000
  ssg:
    impl: impl
    host: http://playbooks-cac:8080
  inventory:
    impl: impl
    host: http://insights-inventory.platform-ci.svc.cluster.local:8080
  users:
    impl: impl
    host: https://insights-services-pipeline-insights.ext.paas.redhat.com


secrets:
  backoffice: false
  postgres: false
  redis: false
